/**
 * =============================================================================
 * This is the file where all your styling should go in.
 * Instead of modifying the styles found in the monogatari.css file or others,
 * you should overwrite those styles in this file.
 *
 * The CSS selectors shown are not an extensive list but they are the most
 * common you might want to change. To find what other elements are available,
 * you can take a look at the monogatari.css file or use your browser's dev
 * tools to inspect the elements.
 * =============================================================================
**/

/**
 * ===========================
 * General Styling
 * ===========================
**/

@font-face {
	font-family: 'Berkshire Swash';
	src: url('../assets/fonts/BerkshireSwash-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
		 url('../assets/fonts/BerkshireSwash-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
	font-family: 'Raleway';
	src: url('../assets/fonts/Raleway-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
		 url('../assets/fonts/Raleway-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
	font-family: 'Neucha';
	src: url('../assets/fonts/Neucha-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
		 url('../assets/fonts/Neucha-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


/* General Style */
body {
	font-family: 'Neucha', sans-serif;
	font-size: 1.4rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

/* Simple Button styles*/
button {

}

/* Simple Button Style on Hover */
button:hover {

}

/* General Styling for Menu Screens */
[data-screen] {

}

/**
 * ===========================
 * Titlescreen Styling
 * ===========================
**/

@keyframes pop-in {
	0% {
	  opacity: 0;
	  transform: translateY(-2rem) scale(.2);
	}
	100% {
	  opacity: 1;
	  transform: none;
	}
  }

#title {
	font-family: 'Berkshire Swash', sans-serif;
	color: black;
	font-size: 7rem;
	margin: 2rem;
	animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-screen="main"] {

}

/* Main Menu Buttons Styling */
[data-screen="main"] button {
	height: 3rem;
	font-family: 'Raleway', sans-serif;
	opacity: 0;
	animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
}

[data-screen="main"] button:hover {
	color: lightgray;
}

[data-screen="main"] button:nth-child(1) { animation-delay: .5s }
[data-screen="main"] button:nth-child(2) { animation-delay: .7s }
[data-screen="main"] button:nth-child(3) { animation-delay: .9s }
[data-screen="main"] button:nth-child(4) { animation-delay: 1.1s }
[data-screen="main"] button:nth-child(5) { animation-delay: 1.3s }

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */
[data-component="save-slot"] figure {

}

/* Slot's Image Style */
[data-component="save-slot"] img {

}

/* Slots Title Style */
[data-component="save-slot"] figcaption {

}

/* Slots Delete Button Style */
[data-component="save-slot"] button {

}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

/* Choice Buttons style */
[data-component="choice-container"] button {

}

/* Choice Button Style on Hover */
[data-component="choice-container"] button:hover {

}

/* Text Box styling */
[data-component="text-box"] {
	display: block;
	width: 80vw;
	left: 50%;
	transform: translate(-50%, 0);
	padding-left: 5rem;
	padding-right: 5rem;
	background-color: rgba(0, 0, 0, 0.7);
	background-image: repeating-linear-gradient(180deg, transparent, transparent 2px, #ffffff07 2px, #ffffff07 4px);
	bottom: 2rem;
	border-radius: 20px;
	/* border-style: solid;
  	border-width: 3px;
	border-color: rgba(255, 255, 255, 0.6); */
}

/* Character Name Style */
[data-ui="who"] {
	font-family: 'Berkshire Swash', sans-serif;
	margin-top: 0.1rem;
	text-align: center;
	/* font-weight: bold; */
}

/* Used to hide the Text Box if not in use */
text-box[data-speaking="hideTextBox"] {
    display:none!important;
}

/* Style for Centered Text */
[data-component="centered-dialog"] {

}

/* Character Images Styles */
[data-screen="game"] [data-character] {

}

/* Other Images Styles */
[data-screen="game"] [data-image] {

}

/* Click-To-Continue Icon Stylew */
.lds-dual-ring {
	visibility: hidden;
	float: right;
	z-index: 11;
	width: 1.1em;
	height: 1.1em;
}
.lds-dual-ring:after {
	content: " ";
	/* visibility: visible; */
	position: absolute;
	z-index: 11;
    left: 76vw;
    top: 18vh;
	width: 1.1em;
	height: 1.1em;
	border-radius: 50%;
	border: 3px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}
  
/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-component="quick-menu"] {
	justify-content: center;
	height: 1.6rem;
}

/* Quick Menu Buttons Style */
[data-component="quick-menu"] span {
	font-size: 0.9rem;
}

/* Quick Menu Buttons Style on Hover */
[data-component="quick-menu"] span:hover {
	color: lightgray;
}

/* Quick Menu Buttons Icon Style */
[data-component="quick-menu"] .svg-inline--fa {
	font-size: 0.9rem;
}

/**
 * ===========================
 * Range Styling
 * ===========================
**/

/* Use the background property to set a color for these */
input[type=range]:focus::-webkit-slider-runnable-track {

}

input[type=range]::-webkit-slider-runnable-track {

}

input[type=range]:focus::-ms-fill-upper {

}

input[type=range]:focus::-ms-fill-lower {

}

input[type=range]::-moz-range-track {

}

input[type=range]::-ms-fill-lower {

}

input[type=range]::-ms-fill-upper {

}

/** Medium Screens, Phablets (601px) **/
@media screen and (min-width: 37.56255em) {
	/* Styles for the desktop version of the Quick Menu */

	/* Quick Menu Style */
	[data-component="quick-menu"] {

	}

	/* Quick Menu Buttons Style */
	[data-component="quick-menu"] span {

	}

	/* Quick Menu Buttons Style on Hover */
	[data-component="quick-menu"] span:hover {

	}
}

/** Medium Devices, Tablets (992px)**/
@media screen and (min-width: 62em) {

}

/** HD Screen, Large Devices, Wide Screens, Desktop (1200px) **/
@media screen and (min-width: 75em) {

}

/** Full HD Screen, Large Devices, Wide Screens, Large Desktops (1920px) **/
@media screen and (min-width: 120em) {

}

/** Retina Screen , Large Devices, Wide Screens(2560px) **/
@media screen and (min-width: 160em) {

}

/** 4k Screens, Large Devices, Wide Screens (3840px) **/
@media screen and (min-width: 240em) {

}

/** 5k Screens, Large Devices, Wide Screens (5000px) **/
@media screen and (min-width: 312.5em) {

}

/** 8k Screens, Large Devices, Wide Screens (8000px) **/
@media screen and (min-width: 500em) {

}
